{{ define "head" }}
<title>{{ .Title }}</title>
{{ end }}

{{ define "body" }}
<div>
<h1>Welcome to RITA</h1>
</div>

<div>
  {{ if .HasDbs }}
    <h2>Previous tests</h2> 
    <form action="/setdb" method="POST">
    <ul>

      {{ range $idx, $elem := .Tests }}
        <li> <input type="radio" name="test" value="{{$elem}}"> {{$elem}} </li>
      {{ end }}
        <input type="submit" value="Go To Test">
  {{ end }}
  </ul>
  <button class="button">Start a new test</button> <br />
</div>
{{ end }}
